<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.5.0" targetFramework="net461" />
  <package id="Cucumber.Messages" version="6.0.1" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="3.12.0" targetFramework="net461" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net461" />
  <package id="Gherkin" version="19.0.3" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net461" />
  <package id="Microsoft.Edge.SeleniumTools" version="3.141.2" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net461" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.150.1" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="95.0.4638.5401" targetFramework="net461" />
  <package id="SpecFlow" version="3.9.22" targetFramework="net461" />
  <package id="SpecFlow.Assist.Dynamic" version="1.4.2" targetFramework="net461" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net461" />
  <package id="SpecFlow.MsTest" version="3.9.22" targetFramework="net461" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.9.22" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>